#debrief-operation-list {
    height: 100px;
    margin-bottom: 15px;
    background-color: black;
    color: var(--font-color);
}

#debrief-graph {
    background-color: black;
    height: 400px;
    background-image: none;
    display: block;
}

.report-table {
    color: white;
    width: 100%;
    border-spacing: 5px;
}
.report-table img {
    height: 18px;
    margin: 5px;
}
.report-table input {
    background-color: inherit;
    color: white;
}

.report-table th {
    text-align: left;
}

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

.section-header {
    font-size:70px;
    margin-top:-20px;
}
.section-sub-header {
    margin-top:-55px;
}
.section-title {
    flex:24%;text-align:left;padding:15px;
}
.section-content {
    flex:75%;padding:15px;text-align: left
}

div.d3-tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: #750b20;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

button.graph-switch {
    float: right;
    width: auto;
}

h5 {
    margin: 10px 0px 5px;
}
label {
    font-size: 14px;
    text-transform: capitalize;
}
li.legend {
    flex-direction: row;
    display: flex;
    align-items: center;
}
.legend-box {
    position: absolute;
    right: 25px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 165px;
    background-color: rgba(155, 155, 155, .6);
}
.fact-count {
    font-weight: bold;
}

#fact-limit-msg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: none;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;

}

#fact-count {
    position: absolute;
    top: 150px;
    right: 20px;
    padding: 20px;
    border-spacing: 5px;
    color: white;
    font-size: 13px;
}
.graph-media-control {
    margin: 0 10;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    background-color: grey;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}
.graph-media-control:hover {
    background-color: #4e4e4e;
}
